<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'messwebsite/css/styles.css' %}">
<title>C Mess Menu and Feedback</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-strip"> <a href="{% url 'index' %}" >C Mess Menu and Feedback</a></div>
                <div class="login-status">
                    {% if user.is_authenticated %}
                        Logged in as {{ user.username }} | <a href="{% url 'llogout' %}">Logout</a>
                    {% else %}
                        <div class="login-box33">
                            {% if not on_register_page %}
                                    Not logged in | <a href="{% url 'login' %}">Login / Register</a>
                            {% else %}
                                    Not logged in | <a href="{% url 'login' %}">Login / Register</a>
                                    Register to the services
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>