{% extends 'base.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>

{% block content %}
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
            <div class="container">
                <div class="filter-box">
                    <h2>Select an item to review</h2>
                    <form action="{% url 'submitfilter' %}" method="post">
                        {% csrf_token %}
                        {{ filter_form.as_p }}
                        <input type="submit" value="Select item">
                    </form>
                </div>
                {% if item %}
                    <div class="review-box">
                        <h2>Reviewing: {{ item.name }}</h2>
                        <form action="{% url 'submitreviewkk' %}" method="post">
                            {% csrf_token %}
                            {{ review_form.as_p }}
                            <input type="submit" value="Submit a new review">
                        </form>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p>You must be logged in to submit a review.</p>
        {% endif %}
        <h1>All Reviews</h1>
        {% for review in reviews %}
            <div class="review-box">
                <h2>{{ review.food_item.name }}</h2>
                <p><strong>Date:</strong> {{ review.date|date:"F j, Y, P" }}</p>
                <p><strong>Rating:</strong> {{ review.rating }}</p>
                <p><strong>Comment:</strong> {{ review.comments }}</p>
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}