{% extends "base.html" %}
{% block content %}
<style>
    
    body {
        background: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    @media (max-width: 768px) {
        body {
            /* Different background for mobile */
            background: url('https://images.unsplash.com/photo-1556139943-4bdca53adf1e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            /* https://images.unsplash.com/photo-1604077350837-c7f82f28653f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
            /* https://images.unsplash.com/photo-1555448248-2571daf6344b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdhbGxwYXBlcnN8ZW58MHwxfDB8fHwy');  */
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
        }
    }
    h2 {
        color: #6c757d;
    }

    .info-box {
        background-color: #e9ecef58;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .container_cntr {
        background-color: #f2f6f95e;
        margin-bottom: 10px;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .btn {
        display: inline-block;
        background-color: #6c757d;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn:hover {
        background-color: #5a6268;

    }
</style>
<div class="row">
    <div class="col">
        <div class="container">
            <div class="info-box">
                <h2>Next Menu Item: {{ day }} for {{ session }} </h2>
                <p>{{ Next_menu_item }}</p>
            </div>
            <div class="info-box">
                <h2>View Full Menu  </h2>
                <p>Selection </p>
            </div>
            <!-- <div class="info-box">
                <h2>Latest Updated Menu at {{ access_time }}</h2>
                <p>{{ latest_updated_menu }}</p>
            </div> -->
            {% if not user.is_authenticated %}
            <div class="container_cntr">
                <a href="{% url 'register' %}">Register to make your reviews</a>
                <a href="{% url 'login' %}">Login to make your reviews</a>
            </div>
            {% endif %}
            <a href="{% url 'reviews' %}" class="btn">View All Reviews or Submit your review</a>
        </div>
    </div>
</div>

{% endblock %}