{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
            <div class="container">
                <div class="review-box">
                    <h2>Dear User, Please Review here</h2>
                    {% if menu_item %}
                        <h3>Selected menu item: {{ menu_item.name }}</h3>
                    {% endif %}
                    <form action="{% url 'submitmenureview' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit a new review">
                    </form>
                </div>
            </div>
        {% else %}
            <p>You must be logged in to submit a review.</p>
        {% endif %}
    </div>
</div>
{% endblock %}